
*.bin
*.obj
*.appsettings.Development.json
*.appsettings.Production.json
*.launchSettings.json
*.dll
*.exe
*.pdb
*.user
*.vs
*.suo
*.cache
*.log
*.npm-debug.log
*.node_modules
*.bower_components
*.lock
*.packages
*.log
*.vscode
*.vs
*.idea
*.DS_Store
*.sln.docstates
*.TestResults
*.[Dd]ebug
*.[Rr]elease
*.bak.vscode
*.~
*.log
*.swp